# Import Libraries

In [1]:
%pip install tweepy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tweepy in /home/andrea/.local/lib/python3.10/site-packages (4.12.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /home/andrea/.local/lib/python3.10/site-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests<3,>=2.27.0 in /home/andrea/.local/lib/python3.10/site-packages (from tweepy) (2.28.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/lib/python3/dist-packages (from tweepy) (3.2.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/andrea/.local/lib/python3.10/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /home/andrea/.local/lib/python3.10/site-packages (from requests<3,>=2.27.0->tweepy) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/andrea/.local/lib/python3.10/site-packages (from requests<3,>=2.27.0->tweepy) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/andrea/.local/lib/python3.10/site-packages (from requests<3,>=2.27.0->tweepy) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import tweepy
import sys
import csv
import pandas as pd

# Scraping Tweets

In [3]:
# Keys for authentication
consumer_key = "ONLQ0vLSAXM2tZDnckominEcK"
consumer_secret = "MpP7XurdGn1wpufX3rrfQgrs4AROnaw9ZiiZzKN6exr3zEDlN6"
access_token = "1274112117738737664-J2DjjoqqzN11CNp8bpnYzVp1dUYKM4"
access_token_secret = "3coYFJVCqHnOmD2m9Qt6zs7j1I24lhlPTU71eUOq4Zqg9"
bearer_token = "AAAAAAAAAAAAAAAAAAAAALJslQEAAAAA7EWdkTwrVDM44LIuewNascHjvoY%3DeXmhQyuXgo8zXJiSTMfqtmPA393HHO2W7nSrk0bK6b67SuJeb0"

In [4]:
# Authenticate
auth = tweepy.OAuth1UserHandler(
    consumer_key, consumer_secret, access_token, access_token_secret)

api = tweepy.API(auth)

In [5]:
def scrape_tweets(query: str, amount: int) -> list:
    """Scrapes a specified number of tweets based on given query and location.

    Method from https://www.sahilfruitwala.com/guide-to-extract-tweets-using-tweepy#how-to-retrieve-specific-number-of-tweets-using-tweepy 
    
    Args:
        query (str): The query
    Returns:
        list (str): List of contents of tweets.
    """
    extracted_tweets = []
    for tweet in tweepy.Cursor(api.search_tweets, query, count=100, tweet_mode="extended", result_type="mixed").items(amount):
        extracted_tweets.append(tweet.full_text)
    return extracted_tweets

In [6]:
def write_to_csv(tweets: list, csv_name: str) -> None:
    """Appends the list of tweets to csv.
    
    Largely copied from https://gist.github.com/anku255/0cebd75cce675f2b56de1ef48ec06575.

    """
    print("Writing {0} tweets to {1}".format(len(tweets), csv_name))
    tweets_for_csv = [[tweet.encode("utf-8")] for tweet in tweets]
    with open(csv_name, "a+") as file:
        writer = csv.writer(file, delimiter=",")
        writer.writerows(tweets_for_csv)

The queries for scraping tweets. Note that the queries commented out have already been scraped.

In [20]:
# queries = [
#     ["(metaverse OR meta verse OR #metaverse OR #meta #verse) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(innovation OR #innovation OR innovate OR innovative OR #innovate OR #innovative) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(sustainability OR #sustainability OR sustainable) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(technology footprint OR technology OR #technologyfootprint) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(artificial intelligence OR ai OR #ai OR #artificialintelligence) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(ethics OR #ethics OR ethical OR #ethical) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(inflation OR #inflation) AND (place_country:AE OR uae) lang:en -is:retweet "],
#     ["(cop 28 OR cop28 OR #cop28 OR #cop #28) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(museum of the future OR @museumofthefuture OR #museumofthefuture OR #museum #of #the #future) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(bit coin OR bitcoin OR #bitcoin OR #crypto OR crpyto OR cryptocurrency) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(cyber attack OR #cyberattack OR #cyber OR #cyberattacks OR #cyber #attack) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(robot OR robots OR #robots OR #robot) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(drone OR dronesOR #drone OR #drones) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(hacker OR hacking OR #hacker OR #hacking OR #hack) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(chatgpt OR #chatgpt OR #chat #gpt OR chat gpt) AND (place_country:AE OR uae) lang:en -is:retweet"]
# ]
# queries = [
#     ["(cybersecurity OR #cybersecurityOR #cybersec OR cybersec OR cyber security OR #cyber #security) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(sustainabletech OR sustainable ai OR sustainable technology OR #sustainabletech OR #sustainableai OR #sustainabletechnology) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(computing OR quantum computing OR #quantum #computing OR #computing) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(automation OR #automation) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(automation OR #automation) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(distributed cloud OR #distributedcloud OR #distributed #cloud) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(big data OR #big #data OR bigdata OR #bigdata) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(ar OR #ar OR #augmentedreality OR #augmented #reality) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(data mining OR #data #mining OR #datamining) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(software OR #software) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(tech OR technology OR #tech OR #technology) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(digital OR digital transformation OR #digital #transformation OR #digitaltransformation) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(blockchain OR #blockchain) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(coders_hq OR coders hq OR #coders OR #coders #hq OR @coders_hq) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(nft OR non-fungible token OR non fungible token OR nfts OR #nfts OR #nonfungibletoken OR #nft) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(binance OR @binance OR #binance) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(uae hackathon OR hackathon OR #hackathon) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(internet of things OR IoT OR #iot OR #internet #of #things OR #internetofthings) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(software engineering OR #softwareengineering) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(#coding OR coding) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(@uaeai OR #uaeai Or #uae #ai) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(technology OR tech OT #tech Or #technology) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(nft OR #nft OR #nfts OR nfts) AND (place_country:AE OR uae) lang:en -is:retweet"]   ,
#     ["(UAE codes OR #UAE_codes OR #UAEcodes) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(Microsoft Hololens OR Hololens OR #Hololens) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(GITEX or #gitex) AND (place_country:AE OR uae) lang:en -is:retweet "]
# ]

# queries = [
#     ["(information OR #information) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(internet OR #internet) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(computer OR science OR computer science OR #computerscience OR #computer OR #science) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(technological OR #technological) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(engineering OR #engineering) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(computing OR #computing) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(systems OR #systems) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(electronics OR #electronics) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(application OR #application OR app OR #app) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(robotics OR #robotics) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(high tech OR high technology OR #hightech OR #hightechnology OR #high #technology OR #high #tech) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(nanotech OR nano tech OR nanotechnology OR nano technology OR #nanotech OR #nano #tech OR #nano #technology OR #nanotechnology) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(biotech OR bio tech OR biotechnology OR bio technology OR #biotech OR #bio #tech OR #bio #technology OR #biotechnology) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(code OR #code) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(automation OR #automation OR automate OR #automate) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(virtual OR #virtual OR online OR #online) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(technological advancements OR #technological #advancements OR #advancements OR #techadvancements) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(bionics OR #bionics) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(cyberscience OR #cyberscience) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(google OR #google OR @google) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(oracle OR #oracle OR @oracle) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(ibm OR #ibm OR @ibm) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(bionics OR #bionics) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(sap OR #sap) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(global knowledge OR #globalknowledge OR #global #knowledge) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(amazon OR #amazon OR @amazon) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(hewlett-packard OR Hewlett Packard OR HP OR #hewlett-packard OR #Hewlett #Packard OR #HP) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(cisco OR #cisco OR @cisco) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(dell OR #dell OR @dell) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(cisco OR #cisco OR @cisco) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(@WorldGovSummit OR #WGS OR #WGS2023 OR World Goverment Summit) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(masdar OR #masdar OR @masdar) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(renewable energy OR clean energy OR #renewableenergy OR #cleanenergy) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(machine learning OR #machinelearning OR ML OR #ML) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(recommender systems OR #RS OR #recommender #systems OR recommender engine) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(deep learning OR #deeplearning) AND (place_country:AE OR uae) lang:en -is:retweet"],
#     ["(research OR #research) AND (place_country:AE OR uae) lang:en -is:retweet"],
# ]

In [21]:
"""Scraping tweets and writing them to dataset.csv"""
csv_name="dataset.csv"
total = 0
for query in queries:
    tweets = scrape_tweets(query=query, amount=1000)
    total += len(tweets)
    print("Found {0} tweets related to the query {1}".format(len(tweets), query))
    write_to_csv(tweets=tweets,csv_name=csv_name)
print("Done. {0} rows.".format(total))

Found 902 tweets related to the query ['(information OR #information) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 902 tweets to dataset.csv
Found 73 tweets related to the query ['(internet OR #internet) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 73 tweets to dataset.csv
Found 599 tweets related to the query ['(computer OR science OR computer science OR #computerscience OR #computer OR #science) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 599 tweets to dataset.csv
Found 52 tweets related to the query ['(technological OR #technological) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 52 tweets to dataset.csv
Found 629 tweets related to the query ['(engineering OR #engineering) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 629 tweets to dataset.csv
Found 13 tweets related to the query ['(computing OR #computing) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 13 tweets to dataset.csv
Found 338 tweets related to the query ['(systems OR #systems) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 338 tweets to dataset.csv
Found 128 tweets related to the query ['(electronics OR #electronics) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 128 tweets to dataset.csv
Found 329 tweets related to the query ['(application OR #application OR app OR #app) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 329 tweets to dataset.csv
Found 79 tweets related to the query ['(robotics OR #robotics) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 79 tweets to dataset.csv
Found 3 tweets related to the query ['(high tech OR high technology OR #hightech OR #hightechnology OR #high #technology OR #high #tech) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 3 tweets to dataset.csv
Found 0 tweets related to the query ['(nanotech OR nano tech OR nanotechnology OR nano technology OR #nanotech OR #nano #tech OR #nano #technology OR #nanotechnology) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 0 tweets related to the query ['(biotech OR bio tech OR biotechnology OR bio technology OR #biotech OR #bio #tech OR #bio #technology OR #biotechnology) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 133 tweets related to the query ['(code OR #code) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 133 tweets to dataset.csv
Found 56 tweets related to the query ['(automation OR #automation OR automate OR #automate) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 56 tweets to dataset.csv
Found 281 tweets related to the query ['(virtual OR #virtual OR online OR #online) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 281 tweets to dataset.csv
Found 0 tweets related to the query ['(technological advancements OR #technological #advancements OR #advancements OR #techadvancements) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 0 tweets related to the query ['(bionics OR #bionics) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 0 tweets related to the query ['(cyberscience OR #cyberscience) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 264 tweets related to the query ['(google OR #google OR @google) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 264 tweets to dataset.csv
Found 13 tweets related to the query ['(oracle OR #oracle OR @oracle) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 13 tweets to dataset.csv
Found 1 tweets related to the query ['(ibm OR #ibm OR @ibm) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 1 tweets to dataset.csv
Found 0 tweets related to the query ['(bionics OR #bionics) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 18 tweets related to the query ['(sap OR #sap) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 18 tweets to dataset.csv
Found 1 tweets related to the query ['(global knowledge OR #globalknowledge OR #global #knowledge) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 1 tweets to dataset.csv
Found 217 tweets related to the query ['(amazon OR #amazon OR @amazon) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 217 tweets to dataset.csv
Found 0 tweets related to the query ['(hewlett-packard OR Hewlett Packard OR HP OR #hewlett-packard OR #Hewlett #Packard OR #HP) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 7 tweets related to the query ['(cisco OR #cisco OR @cisco) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 7 tweets to dataset.csv
Found 5 tweets related to the query ['(dell OR #dell OR @dell) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 5 tweets to dataset.csv
Found 7 tweets related to the query ['(cisco OR #cisco OR @cisco) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 7 tweets to dataset.csv
Found 0 tweets related to the query ['(@WorldGovSummit OR #WGS OR #WGS2023 OR World Goverment Summit) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 153 tweets related to the query ['(masdar OR #masdar OR @masdar) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 153 tweets to dataset.csv
Found 71 tweets related to the query ['(renewable energy OR clean energy OR #renewableenergy OR #cleanenergy) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 71 tweets to dataset.csv
Found 3 tweets related to the query ['(machine learning OR #machinelearning OR ML OR #ML) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 3 tweets to dataset.csv
Found 0 tweets related to the query ['(recommender systems OR #RS OR #recommender #systems OR recommender engine) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 0 tweets to dataset.csv
Found 2 tweets related to the query ['(deep learning OR #deeplearning) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 2 tweets to dataset.csv
Found 916 tweets related to the query ['(research OR #research) AND (place_country:AE OR uae) lang:en -is:retweet']
Writing 916 tweets to dataset.csv
Done. 5293 rows.

# Data Processing

Some notes: Do not modify original csv `dataset.csv`. The dataset with no duplicates is stored in `updated_dataset.csv`

In [22]:
# Dropping duplicates
dataset = pd.read_csv("dataset.csv", header=None)
dataset.rename(columns={0: 'Text'}, inplace=True)

In [23]:
dataset

                                                    Text
0      b'Joined UAE Minister &amp; President-Designat...
1      b'Foreign Secretary @AmbVMKwatra participated ...
2      b'As the UAE marks National Environment Day, w...
3      b'RT @KhalifaAlgaz: Did you know that the UAE ...
4      b'RT @tawhidChtioui: \xf0\x9f\x9b\xb0\xef\xb8\...
...                                                  ...
12285  b'RT @whatisnuclear: You have to look slightly...
12286  b'RT @whatisnuclear: You have to look slightly...
12287  b'RT @IansThewriter1: #online class\n#assignme...
12288  b'#online class\n#assignments\n#economics \n#e...
12289  b'RT @thee_prof1: Get online class homework, a...

[12290 rows x 1 columns]

In [24]:
updated_dataset = dataset.drop_duplicates()
updated_dataset

                                                    Text
0      b'Joined UAE Minister &amp; President-Designat...
1      b'Foreign Secretary @AmbVMKwatra participated ...
2      b'As the UAE marks National Environment Day, w...
3      b'RT @KhalifaAlgaz: Did you know that the UAE ...
4      b'RT @tawhidChtioui: \xf0\x9f\x9b\xb0\xef\xb8\...
...                                                  ...
12256  b"I'm taking all of these:-\n\xe2\x9c\x93Due e...
12258  b'Mitron, if we can believe that Hind City in ...
12259  b'RT @simonvandorpe: Most striking in our rese...
12279  b"@jasebyjason Like you expect Beyonc\xc3\xa8 ...
12280  b'RT @FreeMsian: Nathan Anderson from Hindenbu...

[4386 rows x 1 columns]

In [26]:
updated_dataset.to_csv('updated-dataset.csv')

## Removing URLs, stopwords, ...

## Removing Duplicates again